/*
* @Author: fengyun2
* @Date:   2016-03-16 00:17:16
* @Last Modified by:   baby
* @Last Modified time: 2016-03-16 00:26:29
*/
@charset "UTF-8";
/* CSS reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{ margin: 0; padding: 0; }
fieldset,img{ border: 0; }
:focus{ outline: 0; }
address,caption,cite,code,dfn,em,strong,th,var,optgroup{ font-style: normal; font-weight: normal; }
h1,h2,h3,h4,h5,h6{ font-size: 100%; font-weight: normal; font-family: "Microsoft YaHei"; }
abbr,acronym{ border: 0; font-variant: normal; }
code,kbd,samp,tt{ font-size: 100%; }
input,button,textarea,select{ *font-size: 100%; border:none;}
body{ background:#fff; color:#5e5e5e; font: 14px/2em Microsoft YaHei,SimSun,Arial;}
ol,ul{ list-style: none; }
table{ border-collapse: collapse; border-spacing: 0; }
caption,th{ text-align: left; }
sup,sub{ font-size: 100%; vertical-align: baseline; }
:link, :visited, ins{ text-decoration: none; }
blockquote,q{ quotes: none; }
blockquote:before, blockquote:after, q:before, q:after{ content: ''; content: none; }
a:link, a:visited{ color: #5e5e5e;}
a:hover { color:#c9394a;}
a:active { color: #666;}
.clearfix:after{content:'\0020';display:block;height:0;clear:both;visibility:hidden; }
.clearfix{*zoom:1;}
.l{float:left;}
.r{float:right;}
.clear{ height:0; overflow:hidden; clear:both}
.hide{display:none;}
.btn.hide{display:none;}
a.hidefocus { outline: none; }
button.hidefocus::-moz-focus-inner { border:none; }
a:focus {outline:none;-moz-outline:none;}
input,textarea {outline:none;}
h2 { font-size: 20px; }
h3 { font-size: 16px; line-height: 32px; }
h5 { font-size: 14px; line-height: 28px; }
/*border && padding*/
.img_border { border: 4px solid #fff; border-radius: 1px;}
.bb { border-bottom: 1px solid #d2d2d2 }
.bt { border-top: 1px solid #d2d2d2 }
.pt15 { padding-top: 15px; }
.pb15 { padding-bottom: 15px; }
.p15{ padding:0 15px}
/*颜色定义*/
.color-gray,a.color-gray:link,a.color-gray:visited{color:#b7bcc0;}html,
body {
  font: 14px/1.5 "Microsoft Yahei", "Hiragino Sans GB", Helvetica, "Helvetica Neue", "微软雅黑", Tahoma, Arial, sans-serif;
  color: #14191e;
}
body {
  overflow-y: scroll;
}
body {
  min-width: 1200px;
  background-color: #edeff0;
}
a:link,
a:visited {
  color: #14191e;
}
a:hover,
a:active {
  color: #cc0000;
}
.clearfix:after {
  content: '\0020';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  *zoom: 1;
}
.l {
  float: left;
}
.r {
  float: right;
}
.hide {
  display: none;
}
.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.newcontainer,
.page-container {
  margin: 0 auto;
  width: 1200px;
}
.container {
  margin: 0 auto;
}
.container {
  width: 1200px;
}
#main {
  min-height: 750px;
  padding: 20px 0;
}
.waper {
  width: 1200px;
  margin: 0 auto;
}
.shadow {
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.search-area {
  float: right;
  position: relative;
  height: 38px;
  width: 210px;
  margin: 10px 0;
  padding-right: 30px;
  border: 1px solid #000;
  border-bottom-color: rgba(120, 125, 130, 0.8);
  zoom: 1;
  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  transition: width 0.3s;
}
.search-area.min {
  width: 0px;
  border-color: #000;
}
.search-area .search-input {
  padding: 5px 10px;
  width: 100%;
  height: 38px;
  line-height: 38px;
  font-size: 12px;
  float: left;
  border: 0;
  color: #fff;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  transition: background-color 0.3s;
  background-color: #000000;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.search-area .search-input:-moz-placeholder {
  color: #787d82;
}
.search-area .search-input::-moz-placeholder {
  color: #787d82;
  opacity: 1;
}
.search-area .search-input:-ms-input-placeholder {
  color: #787d82;
}
.search-area .search-input::-webkit-input-placeholder {
  color: #787d82;
}
.search-area .search-input.placeholder {
  color: #787d82;
}
.search-area .btn_search {
  float: left;
  cursor: pointer;
  width: 30px;
  height: 38px;
  text-align: center;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.search-area .search-area-result {
  position: absolute;
  left: 0px;
  top: 41px;
  width: 238px;
  margin-bottom: 20px;
  border: 1px solid #d3d3d3;
  border-top: none;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.35);
  font-size: 12px;
  overflow: hidden;
  display: none;
  z-index: 1000;
}
.search-area .search-area-result li {
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #787d82;
  cursor: pointer;
}
.search-area .search-area-result li:hover,
.search-area .search-area-result .light {
  color: #14191e;
  background-color: #edf0f2;
}


select {
  margin: 0;
  font-size: 100%;
  cursor: pointer;
  font-weight: normal;
  background-color: #fff;
  border: 1px solid #ccc;
  color: #555;
  display: inline-block;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  padding: 4px 6px;
  vertical-align: middle;
}
select:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/*进度条*/
progress {
  display: inline-block;
  background: #f0f0f0;
  border: 0;
  height: 6px;
  color: #aad94a;
  /*IE10 #c9394a*/
  width: 400px;
}
progress::-webkit-progress-bar {
  background: #f0f0f0;
}
progress::-moz-progress-bar {
  background: #aad94a;
}
progress::-webkit-progress-value {
  background: #aad94a;
}
.progress {
  background: #f0f0f0;
  height: 6px;
  width: 400px;
  display: inline-block;
}
.progressBar {
  background: #aad94a;
  height: 6px;
}
.teacher-icon {
  width: 7px;
  margin-left: 5px;
  position: relative;
  top: 1px;
}
/*回到顶部*/
.elevator {
  position: fixed;
  right: 15px;
  bottom: 10px;
  z-index: 1030;
}
.elevator a {
  display: block;
  position: relative;
  margin: 1px 0;
  outline: none;
  height: 52px;
  width: 52px;
  -webkit-transition: background-position 0.15s;
  -moz-transition: background-position 0.15s;
  transition: background-position 0.15s;
  background: url(/static/img/common/elevator.png?1) no-repeat;
}
.elevator .elevator-diaocha {
  background-position: 0 -798px;
}
.elevator .elevator-diaocha:hover {
  background-position: 0 -984px;
}
.elevator .elevator-app-box {
  position: absolute;
  width: 172px;
  height: 194px;
  bottom: -10px;
  right: 46px;
  -webkit-transition: opacity 0.25s, transform .3s;
  -moz-transition: opacity 0.25s, transform .3s;
  transition: opacity 0.25s, transform .3s;
  opacity: 0;
  filter: alpha(opacity=0);
  max-width: 0;
  -webkit-transform: scale(0.01);
  -ms-transform: scale(0.01);
  transform: scale(0.01);
  -webkit-transform-origin: 100% 95%;
  -ms-transform-origin: 100% 95%;
  transform-origin: 100% 95%;
  background: url(/static/img/common/elevator.png) no-repeat 0 -222px;
}
.elevator .elevator-app {
  background-position: 0 -550px;
}
.elevator .elevator-app:hover {
  background-position: 0 -612px;
}
.elevator .elevator-app:hover .elevator-app-box {
  display: block;
  visibility: visible;
  opacity: 1;
  filter: alpha(opacity=100);
  max-width: none;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.elevator .elevator-weixin-box {
  position: absolute;
  /* display: none; */
  width: 172px;
  height: 212px;
  bottom: -10px;
  right: 46px;
  -webkit-transition: opacity 0.25s, transform .3s;
  -moz-transition: opacity 0.25s, transform .3s;
  transition: opacity 0.25s, transform .3s;
  opacity: 0;
  filter: alpha(opacity=0);
  max-width: 0;
  -webkit-transform: scale(0.01);
  -ms-transform: scale(0.01);
  transform: scale(0.01);
  -webkit-transform-origin: 100% 95%;
  -ms-transform-origin: 100% 95%;
  transform-origin: 100% 95%;
  background: url(/static/img/common/elevator.png) no-repeat 0 0;
}
.elevator .elevator-weixin {
  background-position: 0 -860px;
}
.elevator .elevator-weixin:hover {
  background-position: 0 -922px;
}
.elevator .elevator-weixin:hover .elevator-weixin-box {
  /* max-width: none; */
  display: block;
  visibility: visible;
  opacity: 1;
  filter: alpha(opacity=100);
  max-width: none;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.elevator .elevator-msg {
  background-position: 0 -426px;
}
.elevator .elevator-msg:hover {
  background-position: 0 -488px;
}
.elevator .elevator-top {
  background-position: 0 -674px;
}
.elevator .elevator-top:hover {
  background-position: 0 -736px;
}
a {
  outline: none;
}
a:active {
  star: expression(this.onFocus=this.blur());
}
a,
input,
button {
  outline: none;
}
button::-moz-focus-inner {
  border: 0px;
}
input::-moz-focus-inner {
  border: 0px;
}
.autowrap {
  word-wrap: break-word;
  word-break: break-all;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 200;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  text-decoration: none;
  box-sizing: content-box;
  background-image: none;
  border: 1px solid transparent;
  -webkit-appearance: none;
  white-space: nowrap;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn:hover,
.btn:focus,
.btn.focus {
  color: #fff;
  text-decoration: none;
}
.btn:active,
.btn.active {
  outline: 0;
  background-image: none;
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  pointer-events: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  box-shadow: none;
}
.btn-red {
  color: #ffffff;
  background-color: #cc0000;
  border-color: #cc0000;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  -weibkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  width: 138px;
  height: 38px;
  line-height: 38px;
  font-size: 14px;
}
.btn-red:link,
.btn-red:visited {
  color: #ffffff;
}
.btn-red:hover,
.btn-red:focus,
.btn-red.focus {
  color: #ffffff;
  background-color: #f00000;
  border-color: #f00000;
}
.btn-red:active,
.btn-red.active {
  background-color: #b30000;
  border-color: #b30000;
}
.btn-red.disabled,
.btn-red[disabled],
.btn-red.disabled:hover,
.btn-red[disabled]:hover,
.btn-red.disabled:focus,
.btn-red[disabled]:focus,
.btn-red.disabled.focus,
.btn-red[disabled].focus,
.btn-red.disabled:active,
.btn-red[disabled]:active,
.btn-red.disabled.active,
.btn-red[disabled].active {
  cursor: default;
  box-shadow: none;
  background-color: #cc0000;
  border-color: #cc0000;
}
.btn-blue {
  color: #ffffff;
  background-color: #0088cc;
  border-color: #0088cc;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  -weibkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  width: 138px;
  height: 38px;
  line-height: 38px;
  font-size: 14px;
}
.btn-blue:link,
.btn-blue:visited {
  color: #ffffff;
}
.btn-blue:hover,
.btn-blue:focus,
.btn-blue.focus {
  color: #ffffff;
  background-color: #00a0f0;
  border-color: #00a0f0;
}
.btn-blue:active,
.btn-blue.active {
  background-color: #0077b3;
  border-color: #0077b3;
}
.btn-blue.disabled,
.btn-blue[disabled],
.btn-blue.disabled:hover,
.btn-blue[disabled]:hover,
.btn-blue.disabled:focus,
.btn-blue[disabled]:focus,
.btn-blue.disabled.focus,
.btn-blue[disabled].focus,
.btn-blue.disabled:active,
.btn-blue[disabled]:active,
.btn-blue.disabled.active,
.btn-blue[disabled].active {
  cursor: default;
  box-shadow: none;
  background-color: #0088cc;
  border-color: #0088cc;
}
.btn-green {
  color: #ffffff;
  background-color: #00b33b;
  border-color: #00b33b;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  -weibkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  width: 138px;
  height: 38px;
  line-height: 38px;
  font-size: 14px;
}
.btn-green:link,
.btn-green:visited {
  color: #ffffff;
}
.btn-green:hover,
.btn-green:focus,
.btn-green.focus {
  color: #ffffff;
  background-color: #00d747;
  border-color: #00d747;
}
.btn-green:active,
.btn-green.active {
  background-color: #009a33;
  border-color: #009a33;
}
.btn-green.disabled,
.btn-green[disabled],
.btn-green.disabled:hover,
.btn-green[disabled]:hover,
.btn-green.disabled:focus,
.btn-green[disabled]:focus,
.btn-green.disabled.focus,
.btn-green[disabled].focus,
.btn-green.disabled:active,
.btn-green[disabled]:active,
.btn-green.disabled.active,
.btn-green[disabled].active {
  cursor: default;
  box-shadow: none;
  background-color: #00b33b;
  border-color: #00b33b;
}
.btn-normal {
  color: #787d82;
  background-color: #ffffff;
  border-color: #d0d6d9;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  -weibkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  width: 138px;
  height: 38px;
  line-height: 38px;
  font-size: 14px;
}
.btn-normal:link,
.btn-normal:visited {
  color: #787d82;
}
.btn-normal:hover,
.btn-normal:focus,
.btn-normal.focus {
  color: #787d82;
  background-color: #edf1f2;
  border-color: #98a1a6;
}
.btn-normal:active,
.btn-normal.active {
  background-color: #f2f2f2;
  border-color: #c2cace;
}
.btn-normal.disabled,
.btn-normal[disabled],
.btn-normal.disabled:hover,
.btn-normal[disabled]:hover,
.btn-normal.disabled:focus,
.btn-normal[disabled]:focus,
.btn-normal.disabled.focus,
.btn-normal[disabled].focus,
.btn-normal.disabled:active,
.btn-normal[disabled]:active,
.btn-normal.disabled.active,
.btn-normal[disabled].active {
  cursor: default;
  box-shadow: none;
  background-color: #ffffff;
  border-color: #d0d6d9;
}
.btn-sm {
  width: 78px;
  height: 28px;
  line-height: 28px;
  font-size: 12px;
}
